<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>To Do</title>
  </head>
  <body>
    <!-- NOTE: added for importmap to work on Firefox -->
    <script
      async
      src="https://ga.jspm.io/npm:es-module-shims@1.7.2/dist/es-module-shims.js"
    ></script>

    <!-- https://generator.jspm.io/#U2NhYGBkDM0rySzJSU1hKEpNTC5xMLTQM9Az0C1K1jMAAKFS5w0gAA -->
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
        }
      }
    </script>
    <main id="app" class="text-xl mx-auto mt-12 flex flex-col gap-6 max-w-md">
      <h1 class="text-2xl text-center font-bold">{{ title }}</h1>
      <form @submit.prevent="add" class="flex gap-2">
        <input
          v-model="newTodo"
          class="input input-bordered flex-grow text-xl"
          type="text"
          placeholder="Type here"
        />
        <button class="w-24 btn btn-success" :disabled="!newTodo">Add</button>
      </form>
      <ul v-if="todos.length > 0 ">
        <todo-item
          v-for="todo in todos"
          :key="todo.id"
          :id="todo.id"
          :text="todo.text"
          :done="todo.done"
          @remove="remove($event)"
          @done="todo.done = !todo.done"
        />
      </ul>
      <p v-else class="italic text-center">You have nothing to do.</p>
    </main>
    <script type="module" src="app.js"></script>
  </body>
</html>
